#background {
    height: 725px;
}
body {
    background-color: #fcfbfb; 
}
header {
    background-color:rgba(20,30,13, .7);
}
nav a:hover {
    background-color: black;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}    
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
       
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    
div {
    max-width: 1600px;
  
  background-color: powderblue;
  text-align: center;
  margin: 0 auto;
  }
  nav a{
    text-align: center;
    
  }
#hero-msg h1{
    text-align: center;
}
 #hero-msg h4{
    text-align: center;

 }
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
.book{background-color: #fcfbfb;}
.join{background-color:rgba(20,30,13, .7);}
.book:hover{background-color: black;}
.join:hover{background-color: #fcfbfb;}
#background{background-color:rgba(20,30,13, .7);}
.msg{background-color: #fcfbfb;}
footer{background-color: #fcfbfb;}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
.book {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
.join {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
footer a{
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}    
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}    